p{
    color: rgb(198, 198, 219);
    background-color: black;
    padding: 50px;
    font-size: 1.5rem;
    border-radius: 20px;
    /* border: 10px red solid; */
    border-left: 10px yellow solid
    ;
    border-top: 10px tomato solid;
    margin: 50px;
}